name: 10 - workflow - execution flows

on:
    workflow_dispatch:
        inputs:
            pass-unit-tests:
                type : boolean
                description: 'Whether to pass unit tests'
                default: true

jobs:
    lint-build:
        runs-on: ubuntu-latest
        steps:
            - name: lint and build
              run: |
                echo "all working good - sign 1"
                echo "all working good - sign 2"
    unit-tests:
        runs-on: ubuntu-latest
        steps:
            - name: run unit test
              run: echo "run echo tests"
              if : ${{!inputs.pass-unit-tests}}
               exit 1
    non-prod-deployment:
        runs-on: ubuntu-latest
        needs:
         - lint-build
         - unit-tests
        steps:
            - name: deploy to non-prod
              run: "echo deploying to non-prod"
    prod-deployment:
        runs-on: ubuntu-latest
        steps:
            - name: run unit test
              run: echo "run echo tests"
              if : ${{inputs.pass-unit-tests}}
               exit 0
    